@font-face {
  font-family: "SFProDisplay";
  src: url(fonts/SFProDisplay-Bold.woff2);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SFProDisplay";
  src: url(fonts/SFProDisplay-Semibold.woff2);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SFProDisplay";
  src: url(fonts/SFProDisplay-Medium.woff2);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SFProDisplay";
  src: url(fonts/SFProDisplay-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SFProDisplay";
  src: url(fonts/SFProDisplay-Light.woff2);
  font-style: normal;
  font-weight: 300;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  margin: 0 auto;
  width: 1080px;
}

body {
  color: rgb(22, 22, 31);
  font-family: "SFProDisplay";
}

/* HEADER */
.header .logo {
  padding-right: 15px;
}
.header__top {
  padding: 15px 0 14px 0;
  border-bottom: 1px solid rgb(226, 229, 242);
  display: flex;
  justify-content: space-between;
}
.header__top-left {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.header__top-right {
  display: flex;
  -moz-column-gap: 25.69px;
       column-gap: 25.69px;
  align-items: center;
}
.header__location {
  display: flex;
  width: 109px;
  padding: 10px 15px;
  border: 1px solid rgb(222, 0, 43);
  color: rgb(222, 0, 43);
  border-radius: 6px;
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
}
.header__location-icon {
  margin-right: 8px;
}
.header__nav-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
}
.header__social {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header__call {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: rgb(204, 34, 46);
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
}
.header__call-icon {
  max-width: 19px;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
}
.header__bottom-left {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header__bottom-right {
  display: flex;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.header__field {
  display: flex;
  position: relative;
}
.header__field-icon {
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(222, 0, 43);
  position: absolute;
  top: 0;
  left: 0;
}
.header__field-input {
  width: 220px;
  height: 40px;
  padding-left: 55px;
  background-color: rgb(232, 234, 243);
  border-radius: 6px;
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
}
.header__field-input::-moz-placeholder {
  color: rgb(142, 149, 166);
}
.header__field-input::placeholder {
  color: rgb(142, 149, 166);
}
.header__personal {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__personal-block {
  text-align: center;
}
.header__personal-block:hover {
  color: rgb(204, 34, 46);
  fill: rgb(204, 34, 46);
  cursor: pointer;
}
.header__personal-block:hover p {
  color: rgb(204, 34, 46);
}
.header__personal-title {
  padding-top: 3px;
  font-size: 14px;
  line-height: 16.71px;
  font-weight: 500;
}

/* PRODUCT */
.product {
  padding: 30px 0;
}
.product .description-text {
  max-width: 355px;
  padding-bottom: 20px;
}
.product .btn-red {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  max-height: 30px;
  padding: 5px 10px 6px 10px;
  align-items: center;
}
.product__category {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  font-weight: 400;
  color: rgb(142, 149, 166);
}
.product__category-main {
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  font-weight: 400;
}
.product__rating {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  font-size: 16px;
  line-height: 22.4px;
  color: rgb(142, 149, 166);
}
.product__rating-inner {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.product__heading {
  padding: 20px 0;
}
.product__heading-inner {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-bottom: 9px;
  align-items: end;
}
.product__title {
  font-size: 28px;
  line-height: 33.41px;
  font-weight: 700;
}
.product__code {
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  font-weight: 600;
  color: rgb(142, 149, 166);
}
.product__code:hover {
  color: rgb(222, 0, 43);
  cursor: pointer;
}

.price {
  position: relative;
  display: flex;
  align-items: end;
  -moz-column-gap: 7px;
       column-gap: 7px;
  padding-bottom: 20px;
}
.price__new {
  font-size: 28px;
  line-height: 33.41px;
  font-weight: 700;
}
.price__old {
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  font-weight: 700;
  color: rgb(142, 149, 166);
}
.price__line {
  width: 38.76px;
  height: 1px;
  background-color: rgb(222, 0, 43);
  transform: rotate(-15.46deg);
  position: absolute;
  top: 22px;
  right: -1px;
}

.rub {
  font-size: 28px;
  line-height: 33.41px;
  font-weight: 700;
}

.content__availability-hidden {
  padding: 20px 0px 20px 25px;
  background-color: rgb(246, 248, 253);
  border-radius: 6px;
  margin-bottom: 18px;
  margin-top: -10px;
}
.content__availability-hidden p {
  font-family: "SF Pro Display";
  font-weight: 500;
  line-height: 19.09px;
}
.content__availability-hidden p:first-child {
  padding-bottom: 25px;
}
.content__left {
  padding: 30px;
  border: 1px solid rgb(223, 227, 238);
  border-radius: 12px;
  max-height: 784px;
}
.content__right {
  padding: 30px;
  border: 1px solid rgb(223, 227, 238);
  border-radius: 12px;
  max-height: 522px;
}
.content__inner {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.content__optionally-heading {
  display: flex;
  justify-content: space-between;
}
.content__optionally-btn {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  position: relative;
}
.content__optionally-available {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 93px;
       column-gap: 93px;
  padding: 10px 15px 11px 15px;
  border: 1px solid rgb(223, 227, 238);
  border-radius: 6px;
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  font-weight: 400;
  margin-bottom: 20px;
}
.content__optionally-available button {
  font-size: 14px;
  line-height: 16.71px;
  color: rgb(222, 0, 43);
}
.content__optionally-choice {
  display: flex;
  padding-bottom: 25px;
}
.content__optionally-choice .btn-white {
  width: 148px;
  text-align: center;
}
.content__optionally-choice .btn-red {
  max-width: 81px;
  max-height: 40px;
  margin-right: 10px;
}
.content__optionally-counter {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.content__optionally-counter-btn {
  padding: 14px 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(222, 0, 43);
  max-height: 40px;
}
.content__optionally-counter-btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.content__optionally-counter-number {
  padding: 9px 15px 10px 15px;
  background-color: rgb(232, 234, 243);
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  font-weight: 400;
}
.content__product .description-text {
  max-width: 585px;
}
.content__product-top {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.content__product-scroll {
  max-height: 475px;
}
.content__product-scroll-btn {
  padding: 6px 29px;
  background-color: rgb(142, 149, 166);
  border-radius: 4px;
  height: 20px;
}
.content__product-scroll-btn:last-child {
  background-color: rgb(222, 0, 43);
}
.content__product-scroll-img {
  opacity: 60%;
  max-width: 75px;
}
.content__product-scroll-img:first-child {
  opacity: 100%;
}
.content__product-scroll-imgs {
  display: grid;
  grid-gap: 16px;
  margin: auto;
  box-sizing: border-box;
}
.content__product-main {
  padding-top: 20px;
}
.content__product-main-top {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.content__product-nav {
  display: flex;
  padding-bottom: 13px;
  border-bottom: 1px solid rgb(226, 229, 242);
  margin-bottom: 20px;
}
.content__product-nav-btn {
  font-size: 15px;
  line-height: 17.9px;
  font-weight: 600;
  padding-right: 19px;
}
.content__product-nav-btn:last-child {
  padding-right: 0;
}
.content__product-nav-btn:nth-child(4) {
  padding-right: 17px;
}
.content__product-nav-btn span {
  color: rgb(222, 0, 43);
}
.content__product-title {
  font-size: 22px;
  line-height: 26.25px;
  font-weight: 700;
  padding-bottom: 15px;
}

.company {
  position: relative;
}
.company__name {
  font-size: 22px;
  line-height: 26.25px;
  font-weight: 700;
}
.company__title {
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  font-weight: 700;
  padding-bottom: 8px;
}
.company__rating {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 22.4px;
  padding-bottom: 10px;
}
.company__rating-value {
  padding-right: 5px;
}
.company__rating-comment {
  padding-left: 15px;
}
.company__quantity {
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  font-weight: 400;
}
.company__inner {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 20px 0 15px 0;
}

/* PRODUCTS */
.products__title {
  font-size: 22px;
  line-height: 26.25px;
  font-weight: 700;
  padding-bottom: 15px;
}
.products__blocks {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}
.products__block {
  width: 256px;
  padding: 20px 20px 10px 20px;
  border: 1px solid rgb(223, 227, 238);
  border-radius: 10px;
}
.products__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.products__info-icon {
  fill: rgb(142, 149, 166);
}
.products__info-icon--active {
  fill: rgb(222, 0, 43);
}
.products__info-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  padding-bottom: 5px;
}
.products__info-descrip {
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  font-weight: 400;
  color: rgb(142, 149, 166);
}
.products__info-img {
  padding-bottom: 24px;
  max-height: 177px;
}
.products__top {
  display: flex;
  justify-content: space-between;
}
.products__top-left {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.products__flex {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  padding-bottom: 10px;
}
.products__flex-text {
  color: rgb(142, 149, 166);
}
.products__flex-number {
  color: rgb(222, 0, 43);
}
.products__right, .products__left {
  max-height: 35px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(222, 0, 43);
  padding: 11px 15px 11px 13px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}
.products__left {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}
.products__right {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

/* QUESTIONS */
.questions__title {
  font-size: 22px;
  line-height: 26.25px;
  font-weight: 700;
  padding-bottom: 15px;
  padding-top: 30px;
}
.questions__block {
  padding: 15px 15px 20px 20px;
  border: 1px solid rgb(223, 227, 238);
  border-radius: 12px;
  margin-bottom: 15px;
}
.questions__block-question {
  display: flex;
  justify-content: space-between;
}
.questions__block-question p {
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  font-weight: 700;
}
.questions__block-answer {
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  font-weight: 400;
  color: rgb(142, 149, 166);
  padding-top: 15px;
}
.questions__block-bottom {
  fill: rgb(22, 22, 31);
}
.questions__block-top {
  fill: rgb(22, 22, 31);
  display: none;
}
.questions__block:last-child {
  margin-bottom: 75px;
}

/* FOOTER */
.footer__inner {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  padding-top: 30px;
  border-top: 1px solid rgb(226, 229, 242);
}
.footer__descrip {
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  font-weight: 400;
  color: rgb(142, 149, 166);
  padding: 20px 0 25px 0;
  max-width: 256px;
}
.footer__social {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__social-telegram {
  padding: 7px 5.61px 7px 5.39px;
  background-color: rgb(204, 34, 46);
  border-radius: 4px;
  width: 26px;
  height: 26px;
}
.footer__social-vk {
  padding: 9.14px 4.92px 8.05px 4.22px;
  background-color: rgb(204, 34, 46);
  border-radius: 4px;
  width: 26px;
  height: 26px;
}
.footer__nav {
  display: flex;
  -moz-column-gap: 51px;
       column-gap: 51px;
}
.footer__item {
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  font-weight: 400;
  padding-bottom: 10px;
}
.footer__item-title {
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  padding-bottom: 10px;
}
.footer__list {
  max-width: 181px;
}
.footer__call {
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  font-weight: 400;
  color: rgb(204, 34, 46);
  text-align: right;
}
.footer__call-title {
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  padding-bottom: 10px;
}
.footer__bottom {
  padding: 20px 0 30px 0;
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  font-weight: 400;
  color: rgb(142, 149, 166);
  text-align: center;
}

.mklogo {
  padding: 12px 0;
  border-radius: 7px;
  background-color: rgb(232, 234, 243);
}

.logo {
  max-width: 184px;
}

.btn-white {
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  color: rgb(222, 0, 43);
  border: 1px solid rgb(222, 0, 43);
  border-radius: 6px;
  padding: 10px 15px 11px 15px;
  max-height: 40px;
}

.btn-red {
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 500;
  padding: 10px 15px 11px 15px;
  background-color: rgb(222, 0, 43);
  border-radius: 6px;
  color: #fff;
  max-height: 40px;
  max-width: 230px;
}

.btn-share {
  padding: 7px 8px;
  background-color: rgb(222, 0, 43);
  border-radius: 6px;
  color: #fff;
  max-height: 30px;
}

.description-text {
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 600;
  font-weight: 400;
  color: rgb(142, 149, 166);
}

.hit {
  font-size: 14px;
  line-height: 16.71px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(222, 0, 43);
  padding: 3px 10px;
  border-radius: 4px;
}

.advice {
  font-size: 14px;
  line-height: 16.71px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(241, 169, 53);
  padding: 3px 10px;
  border-radius: 4px;
}

.carousel {
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel__inner {
  position: relative;
}

.carousel-height {
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  max-height: 447px;
}

.carousel::-webkit-scrollbar {
  height: 0;
}

.carousel-height::-webkit-scrollbar {
  height: 0;
}

.btn-bottom, .btn-top {
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

#prev {
  transform: translate(0%, -50%);
  display: none;
}

#next {
  transform: translate(0%, -50%);
}

.btn-grey {
  background-color: rgb(232, 234, 243);
  color: rgb(144, 150, 167);
}

.btn-grey path {
  fill: rgb(144, 150, 167);
}

.social-share {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 6px;
  background-color: rgb(232, 234, 243);
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 40px;
}

.facebook-share {
  width: 24px;
  cursor: pointer;
  padding: 4px;
  background-color: rgb(222, 0, 43);
  border-radius: 4px;
}

.whatsapp-share {
  width: 24px;
  cursor: pointer;
  padding: 4px;
}

.telegram-share {
  width: 26px;
  cursor: pointer;
  padding: 4px;
}

.content__product-bottom .hide {
  display: none;
}

.content__product-bottom .show {
  display: block;
}

.tabcontent {
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */