
@font-face {
	font-family: 'SFProDisplay'; 
	src: url(fonts/SFProDisplay-Bold.woff2); 
    font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'SFProDisplay'; 
	src: url(fonts/SFProDisplay-Semibold.woff2); 
    font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'SFProDisplay'; 
	src: url(fonts/SFProDisplay-Medium.woff2); 
    font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'SFProDisplay'; 
	src: url(fonts/SFProDisplay-Regular.woff2); 
    font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'SFProDisplay'; 
	src: url(fonts/SFProDisplay-Light.woff2); 
    font-style: normal;
	font-weight: 300;
}


/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

$black:rgba(22, 22, 31, 1);
$red:rgba(222, 0, 43, 1);
$redtext:rgba(204, 34, 46, 1);
$gray:rgba(142, 149, 166, 1);
$yellow:rgba(241, 169, 53, 1);

@mixin px16 {
    font-size: 16px;
    line-height: 19.09px;
    font-weight: 500;
}
@mixin px28 {
    font-size: 28px;
    line-height: 33.41px;
    font-weight: 700;
}
@mixin px18 {
    font-size: 18px;
    line-height: 21.48px;
    font-weight: 600;
}
@mixin px22 {
    font-size: 22px;
    line-height: 26.25px;
    font-weight: 700;
}

.container {
    margin: 0 auto;
    width: 1080px;
}
body {
    color: $black;
    font-family: 'SFProDisplay';
}

/* HEADER */

.header {
    .logo {
        padding-right: 15px;
    }
    &__top {
        padding: 15px 0 14px 0;
        border-bottom: 1px solid rgba(226, 229, 242, 1);
        display: flex;
        justify-content: space-between;
        &-left {
            display: flex;
            column-gap: 30px;
            align-items: center;
        }
        &-right {
            display: flex;
            column-gap: 25.69px;
            align-items: center;
        }
    }
    &__location {
        display: flex;
        width: 109px;
        padding: 10px 15px;
        border: 1px solid $red;
        color: $red;
        border-radius: 6px;
        @include px16;
        &-icon {
            margin-right: 8px;
        }
    }
    &__nav {
        &-list {
            display: flex;
            column-gap: 30px;
            @include px16;
        }
    }
    &__social {
        display: flex;
        column-gap: 15px;
    }
    &__call {
        display: flex;
        align-items: center;
        column-gap: 12px;
        color: $redtext;
        @include px16;
        &-icon {
            max-width: 19px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 13px;
        &-left {
            display: flex;
            column-gap: 15px;
        }
        &-right {
            display: flex;
            column-gap: 23px;
        }
    }
    &__field {
        display: flex;
        position: relative;
        &-icon {
            padding: 10px;
            border-radius: 6px;
            background-color: $red;
            position: absolute;
            top: 0;
            left: 0;
        }
        &-input {
            width: 220px;
            height: 40px;
            padding-left: 55px;
            background-color: rgba(232, 234, 243, 1);
            border-radius: 6px;
            @include px16;
        }
        &-input::placeholder {
            color: $gray;
        }
    }
    &__personal {
        display: flex;
        column-gap: 30px;
        &-block {
            text-align: center;
        }
        &-block:hover {
            color: $redtext;
            fill: $redtext;
            cursor: pointer;
            p {
                color: $redtext;
            }
        }
        &-title {
            padding-top: 3px;
            font-size: 14px;
            line-height: 16.71px;
            font-weight: 500;
        }
    }
}

/* PRODUCT */
.btn-red-flag{
    max-width: 135px;
    p{
        width: 111px;
    }
}
.product {
    padding: 30px 0;
    .description-text {
        max-width: 355px;
        padding-bottom: 20px;
    }
    .btn-red {
        display: flex;
        justify-content: center;
        column-gap: 8px;
        max-height: 30px;
        padding: 5px 10px 6px 10px;
        align-items: center;
        cursor: pointer;
    }
    &__category {
        display: flex;
        column-gap: 5px;
        @include px18;
        font-weight: 400;
        color: $gray;
        &-main {
            @include px18;
            font-weight: 400;
        }
    }
    &__rating {
        display: flex;
        column-gap: 6px;
        font-size: 16px;
        line-height: 22.4px;
        color: $gray;
        &-inner {
            display: flex;
            column-gap: 15px;
        }
    }
    &__heading {
        padding: 20px 0;
    }
    &__heading-inner {
        display: flex;
        column-gap: 10px;
        padding-bottom: 9px;
        align-items: end;
    }
    &__title {
        @include px28;
    }
    &__code {
        @include px16;
        font-weight: 600;
        color: $gray;
    }
    &__code:hover {
        color: $red;
        cursor: pointer;
    }
}
.price {
    position: relative;
    display: flex;
    align-items: end;
    column-gap: 7px;
    padding-bottom: 20px;
    &__new {
        @include px28;
    }
    &__old {
        @include px18;
        font-weight: 700;
        color: $gray;
    }
    &__line {
        width: 38.76px;
        height: 1px;
        background-color: $red;
        transform: rotate(-15.46deg);
        position: absolute;
        top: 22px;
        right: -1px;
    }
}
.rub {
    @include px28;
}
.content {
    &__availability-hidden{
        padding: 20px 0px 20px 25px;
        background-color: rgba(246, 248, 253, 1);
        border-radius: 6px;
        margin-bottom: 18px;
        margin-top: -10px;
        p{
            font-family: 'SF Pro Display';
            font-weight: 500;
            line-height: 19.09px;
        }
        p:first-child{
          padding-bottom: 25px;
        }
    }
    &__left {
        padding: 30px;
        border: 1px solid rgba(223, 227, 238, 1);
        border-radius: 12px;
        
    }
    &__right {
        padding: 30px;
        border: 1px solid rgba(223, 227, 238, 1);
        border-radius: 12px;
        max-height: 522px;
        min-width: 415px;
    }
    &__inner {
        display: flex;
        column-gap: 20px;
    }
    &__optionally {
        &-heading {
            display: flex;
            justify-content: space-between;
        }
        &-btn {
            display: flex;
            column-gap: 5px;
            position: relative;
        }
        &-available {
            display: flex;
            justify-content: space-between;
            column-gap: 93px;
            padding: 10px 15px 11px 15px;
            border: 1px solid rgba(223, 227, 238, 1);
            border-radius: 6px;
            @include px16;
            font-weight: 400;
            margin-bottom: 20px;
        }
        &-available button {
            font-size: 14px;
            line-height: 16.71px;
            color: $red;
        }
        &-choice {
            display: flex;
            padding-bottom: 25px;
            .btn-white {
                width: 148px;
                text-align: center;
            }
            .btn-red {
                max-width: 81px;
                max-height: 40px;
                margin-right: 10px;
            }
        }
        &-counter {
            display: flex;
            align-items: center;
            padding-right: 15px;
            &-btn {
                padding: 14px 10px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                background-color: $red;
                max-height: 40px;
            }
            &-btn:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
            &-number {
                padding: 9px 15px 10px 15px;
                background-color: rgba(232, 234, 243, 1);
                @include px18;
                font-weight: 400;
            }
        }
    }
    &__product {
        .description-text {
            max-width: 585px;
        }
        &-top {
            display: flex;
            column-gap: 15px;
        }
        &-scroll {
            max-height: 475px;
            &-btn {
                padding: 6px 29px;
                background-color: $gray;
                border-radius: 4px;
                height: 20px;
            }
            &-btn:last-child {
                background-color: $red;
            }
            &-img {
                opacity: 60%;
                max-width: 75px;
            }
            &-img:first-child {
                opacity: 100%;
            }
            &-imgs {
                
                display: grid;
                grid-gap: 16px;
                margin: auto;
                box-sizing: border-box;
            }
        }
        &-main {
            padding-top: 20px;
            &-top {
                display: flex;
                column-gap: 5px;
            }
        }
        &-nav {
            display: flex;
            justify-content: space-between;
            padding-bottom: 13px;
            border-bottom: 1px solid rgba(226, 229, 242, 1);
            margin-bottom: 20px;
            max-height: 30px;
            box-sizing: border-box;
            &-btn {
                font-size: 15px;
                line-height: 17.9px;
                font-weight: 600;
                padding-bottom: 27px;
               
            }
            &-btn:last-child {
                padding-right: 0;
            }
            &-btn:nth-child(4) {
                padding-right: 17px;
            }
            &-btn span {
                color: $red;
            }
        }
        &-title {
            @include px22;
            padding-bottom: 15px;
        }
    }
}
.popap-display{
    display: none;
}
.popap-filter{
    
    position: absolute;
    z-index: 200;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(246, 248, 253, 1);
    width: 172px;
    text-align: center;
    &__item{
        cursor: pointer;
        padding: 13px 0;
        color: black;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.09px;
          
    }
    &__item:last-child{
        padding-bottom: 13px
          
    }
    &__item:hover{
        background-color: rgba(222, 0, 43, 1);
        color: white;
        border-radius: 8px;
    }
}
.border-red{
    border-bottom: solid 1px red;
}
.company {
    position: relative;
    &__name {
        @include px22;
    }
    &__title {
        @include px18;
        font-weight: 700;
        padding-bottom: 8px;
    }
    &__rating {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 22.4px;
        padding-bottom: 10px;
        &-value {
            padding-right: 5px;
        }
        &-comment {
            padding-left: 15px;
        }
    }
    &__quantity {
        @include px16;
        font-weight: 400;
    }
    &__inner {
        display: flex;
        column-gap: 15px;
        padding: 20px 0 15px 0;
    }
}

/* PRODUCTS */

.products {
  
    
	&__title {
        
		@include px22;
		padding-bottom: 15px;
	}
	&__blocks {
		display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
		position: relative;
       
	}
	&__block {
		width: 256px;
	
        padding: 20px 20px 10px 20px;
		border: 1px solid rgba(223, 227, 238, 1);
		border-radius: 10px;
   
	}
	&__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
		&-icon {
			fill: rgba(142, 149, 166, 1);
			&--active {
				fill: $red;
			}
		}
		&-title {
			display: flex;
			justify-content: space-between;
			@include px18;
            padding-bottom: 5px
		}
		&-descrip {
			@include px16;
            font-weight: 400;
			color: $gray;
          
		}
        &-img{
            padding-bottom: 24px;
            max-height: 177px;
        }
	}
	&__top {
		display: flex;
		justify-content: space-between;
		&-left {
			display: flex;
			column-gap: 5px;
		}
  
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		@include px16;
		padding-bottom: 10px;
		&-text {
			color: $gray;
		}
		&-number {
			color: $red;
		}
	}
	
    &__right,&__left {
        max-height: 35px;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: $red;
        padding: 11px 15px 11px 13px;
        border-radius: 50%;
        outline: 0;
        cursor: pointer;
        position: absolute;
    }
    &__left {
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
        display: none;
	}
	&__right {
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);

	}
}

/* QUESTIONS */

.questions {
    &__title {
        @include px22;
        padding-bottom: 15px;
        padding-top: 30px;
    }
    &__block {
        padding: 15px 15px 20px 20px;
        border: 1px solid rgba(223, 227, 238, 1);
        border-radius: 12px;
        margin-bottom: 15px;
        &-question {
            display: flex;
            justify-content: space-between
        }
        &-question p {
            @include px18;
            font-weight: 700;
        }
        &-answer {
            @include px18;
            font-weight: 400;
            color: $gray;
            padding-top: 15px;
           
        }
        &-bottom {
            fill: $black;
        }
        &-top {
            fill: $black;
            display: none;

        }
    }
    &__block:last-child {
        margin-bottom: 75px;
    }
}

/* FOOTER */

.footer {
    &__inner {
        display: flex;
        column-gap: 60px;
        padding-top: 30px;
        border-top: 1px solid rgba(226, 229, 242, 1);
    }
    &__descrip {
        @include px16;
        font-weight: 400;
        color: $gray;
        padding: 20px 0 25px 0;
        max-width: 256px;
    }
    &__social {
        display: flex;
        column-gap: 10px;
        &-telegram {
            padding: 7px 5.61px 7px 5.39px;
            background-color: rgba(204, 34, 46, 1);
            border-radius: 4px;
            width: 26px;
            height: 26px;
        }
        &-vk {
            padding: 9.14px 4.92px 8.05px 4.22px;
            background-color: rgba(204, 34, 46, 1);
            border-radius: 4px;
            width: 26px;
            height: 26px;
        }
    }
    &__nav {
        display: flex;
        column-gap: 51px;
    }
    &__item {
        @include px16;
        font-weight: 400;
        padding-bottom: 10px;
        &-title {
            @include px18;
            padding-bottom: 10px;
        }
    }
    &__list {
        max-width: 181px;
    }
    &__call {
        @include px16;
        font-weight: 400;
        color: $redtext;
        text-align: right;
        &-title {
            @include px18;
            padding-bottom: 10px;
        }
    }
    &__bottom {
        padding: 20px 0 30px 0;
        @include px16;
        font-weight: 400;
        color: $gray;
        text-align: center;
    }
}

/* CHARASTERISTIC */

.characteristiс {
    &__title {
        @include px18;
        padding-bottom: 8px;
    }
    &__list {
        padding-bottom: 10px;
        &-name {
            position: relative;
            display: block;
            overflow: hidden;
            color: $gray;
            @include px18;
            font-weight: 400;
        }
        &-name::after {
            content: '';
            position: absolute;
            bottom: .15em;
            width: 100%;
            border-bottom: .1em dotted;
        }
        &-value {
        float: right;
        @include px18;
        font-weight: 400;
        }
        &-last {
            padding-bottom: 0 !important;
        }
    }
    &__list:last-child {
        padding-bottom: 20px;
    }
}

/* REWIEVS */

.reviews {
    position: relative;
    .description-text {
        padding-bottom: 0;
    }
    &__procents {
        padding: 10px 0 14px 0;
    }
    &__procent {
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 5px;
        &-number {
            font-size: 16px;
            line-height: 22.4px;
        }
        &-gray {
            height: 4px;
            width: 100%;
            border-radius: 44px;
            background-color: rgba(226, 229, 242, 1);
            margin: 0 5px 0 2px;
        }
        &-red {
            height: 4px;
            width: 351px;
            border-radius: 44px;
            background-color: $red;
            position: absolute;
            top: 9px;
            left: 13px;
            &-fourth {
                width: 140px;
            }
            &-third {
                width: 75px;
            }
            &-second {
                width: 4px;
                background-color: rgba(144, 150, 167, 1);
            }
            &-first {
                width: 4px;
                background-color: rgba(144, 150, 167, 1);
            }
        }
    }
    &__procent:last-child {
        padding-bottom: 0;
    }
    &__review {
        padding: 15px 20px 20px 20px;
        border: 1px solid rgba(223, 227, 238, 1);
        border-radius: 12px;
        margin-bottom: 15px;
    }
    &__autor {
        display: flex;
        justify-content: space-between;
        padding-bottom: 11px;
        &-left {
            display: flex;
            column-gap: 8px;
        }
        &-name {
            @include px18;
            font-weight: 700;
        }
        &-date {
            font-size: 14px;
            line-height: 16.71px;
            color: $gray;
        }
    }
    &__buttons {
        display: flex;
        column-gap: 20px;
        padding-bottom: 11px;
        &-btn {
            padding: 3px 10px;
            border-radius: $red;
            border-radius: 4px;
            color: #fff;
            background-color: rgba(144, 150, 167, 1);
            font-size: 14px;
            line-height: 16.71px;
            font-weight: 600;
        }
    }
}

/* CONNECT */

.connect {
    .btn-red {
        width: 119px;
        max-height: 40px;
    }
    .description-text {
        font-weight: 400;
        padding-bottom: 15px;
    }
    .btn-white {
        width: 147px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        &-right {
            display: flex;
            column-gap: 20px;
        }
    }
    &__block {
        padding: 15px 20px 20px 20px;
        border: 1px solid rgba(223, 227, 238, 1);
        border-radius: 12px;
        margin-bottom: 15px;
    }
    &__block:last-child {
        margin-bottom: 0;
    }
    &__name {
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        &-text {
            @include px18;
            font-weight: 700;
        }
        &-date {
            font-size: 14px;
            line-height: 16.71px;
            color: $gray;
        }
    }
    &__answers {
        display: flex;
        column-gap: 8px;
        font-size: 14px;
        line-height: 16.71px;
        padding: 15px;
        &-amount {
            color: $gray;
        }
        &-show {
            color: $red;
        }
    }
    &__field {
        display: flex;
        column-gap: 10px;
    }
    &__input {
        width: 416px;
        height: 40px;
        background-color: rgba(232, 234, 243, 1);
        border-radius: 6px;
        @include px16;
    }
    &__input::placeholder {
        padding-left: 15px;
        color: $gray;
    }
    &__answer {
        padding-bottom: 15px;
        &-top {
            display: flex;
            column-gap: 8px;
            padding-bottom: 9px
        }
        &-name {
            @include px16;
            font-weight: 700;
        }
        &-date {
            font-size: 14px;
            line-height: 16.71px;
            color: $gray;
        }
        &-descrip {
            font-size: 14px;
            line-height: 16.71px;
            color: $gray;
        }
    }
}

/* DOCUMENT */

.document {
    &__column {
        &-name {
            @include px18;
            padding-bottom: 11px;
        }
        &-doc {
            display: flex;
            column-gap: 8px;
            fill: $gray;
            padding-bottom: 10px;
        }
       
        &-docs {
            padding-bottom: 30px;
            display: inline-block;
            padding-right: 50px;
        }
        &-docs:last-child {
            padding-bottom: 0;
        }
        &-doc:last-child {
            padding-bottom: 0;
        }
        &-doc:hover {
            fill: $red;
        }
        &-link {
            color: $gray;
            @include px18;
            font-weight: 400;
        }
        &-link:hover {
            color: $red;
        }
    }
}

.filter {
    display: flex;
    justify-content: end;
    white-space: nowrap;
    column-gap: 8px;
    @include px16;
    padding-bottom: 15px;
    &-arrow {
        max-width: 15px;
    }
}
.tabcontent {
    &--{
        border: 1px solid rgba(223, 227, 238, 1);
        border-radius: 12px;
        padding: 20px 30px 30px 30px;
    }
    
        
       
    }

.mklogo{
    padding: 12px 0;
    border-radius: 7px;
    background-color: rgba(232, 234, 243, 1);
}
.logo {
    max-width: 184px;
}
.btn-white {
    @include px16;
    color: $red;
    border: 1px solid $red;
    border-radius: 6px;
    padding: 10px 15px 11px 15px;
    max-height: 40px;
    width: 164px;
    white-space: nowrap;
}
.btn-red {
    @include px16;
    padding: 10px 15px 11px 15px;
    background-color: $red;
    border-radius: 6px;
    color: #fff;
    max-height: 40px;
    width: 230px;
}
.btn-share {
    padding: 7px 8px;
    background-color: $red;
    border-radius: 6px;
    color: #fff;
    max-height: 30px;
}
.description-text {
    @include px18;
    font-weight: 400;
    color: $gray;
}
.hit {
    font-size: 14px;
	line-height: 16.71px;
	font-weight: 600;
	color: #fff;
	background-color: $red;
	padding: 3px 10px;
	border-radius: 4px;
}
.advice {
    font-size: 14px;
	line-height: 16.71px;
	font-weight: 600;
	color: #fff;
	background-color: $yellow;
	padding: 3px 10px;
	border-radius: 4px;
}

.carousel{
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &__inner{
        position: relative;
    }
}
.carousel-height{
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
    max-height: 447px;
}
.carousel::-webkit-scrollbar {
    height: 0;
  }

  .carousel-height::-webkit-scrollbar {
    height: 0;
  }

  .btn-bottom,.btn-top{
    display: flex;
    justify-content: center;
  align-content: center;
  cursor: pointer;
  }


  #prev {
    transform: translate(0%, -50%);
    display: none;
  }
  
  #next {

    transform: translate(0%, -50%);
  }

  .btn-grey{
    background-color: rgba(232, 234, 243, 1);
    color: rgba(144, 150, 167, 1);
  }

  .btn-grey path {
    fill: rgba(144, 150, 167, 1);
  }
  .social-share{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 6px;
    background-color: rgba(232, 234, 243, 1);
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 40px;
  }

  .facebook-share{
    width: 24px;
    cursor: pointer;
    padding: 4px;
    background-color: rgba(222, 0, 43, 1);
    border-radius: 4px;

  }
  .whatsapp-share{
    width: 24px;
    cursor: pointer;
    padding: 4px;
  }

  .telegram-share{
    width: 26px;
    cursor: pointer;
    padding: 4px;
  }
  .content__product-bottom .hide {
    display: none;
}
.content__product-bottom .show {
    display: block;
}

.tabcontent{
    transition: 0.3s;

}


.comment-photo{
    position: relative;
    
}
.carousel2{
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.comment-photo__inner{
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
	position: relative;
    max-width: 560px;
}
.comment-photo__img{
    min-width: 65px;
    
}
.comment-photo__img:first-child{
    margin-left: 30px;
    
}

.comment-photo__img:last-child{
    margin-right: 30px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);

}

.comment-photo-btn{
    position: absolute;
    z-index: 100;
}
.comment-photo-btn-l{

}
.comment-photo-btn-r{
    right: 0;
}
.rectangle-comment{
    position: absolute;
    right: 0;
    z-index: 2;
}